<div id="component">
    <app-head [pageTitle]="pageTitle"></app-head>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>PartNbr</th>
                <th>Name</th>
                <th>Price</th>
                <th>Unit</th>           
                <th>VendorId</th>
                <th>Actions</th>          
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products">
                <td>{{ p.id }}</td>
                <td>{{ p.partNbr }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.price | currency }}</td>
                <td>{{ p.unit }}</td>        
                <td>{{ p.vendorId }}</td>   
                <td>
                    <a routerLink="/product/detail/{{ p.id }}">Detail</a> |
                    <a routerLink="/product/edit/{{ p.id }}">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>